<section class="m-panel">
	<div class="m-panel-main-article">
        <a href="#/articleDetails/{{ articles[0].article_id }}" style="background-image:url({{articles[0].picture}});">
			<div class="m-panel-tips">
				<p>{{articles[0].title}}

                {{if articles[0].type === 'goodsInfo' }}
                <span class="m-panel-price"><i>¥</i>{{ articles[0].price }}</span>
                {{/if}}
                </p>
			</div>
		</a>
	</div>
	<ul class="m-panel-article-list">
		{{each articles as artcile i}}
			{{if i >= 1}}
				<li>
					<a  href="#/articleDetails/{{ articles.article_id }}" >
						<p>{{artcile.title}}</p>
						<img src="{{artcile.picture}}">
					</a>	
				</li>
			{{/if}}
		{{/each}}
	</ul>

    {{if key !== '0'  || key !== 0 }}
    <a class="m-panel-btn-tatal" href="javascript:;" data-key="{{cate_id}}" >查看全部</a>
    {{/if}}
</section>
